<footer class="footer">
  <div class="container">
    <ul class="footer__list sm:text-xl">
      <li>
        <div class="text-gray">ГРАФИК</div>
        Пн-Пт с 11:00 до 20:00 <br /> Сб c 12:00 до 17:00
      </li>
      <li>
        <div class="text-gray">АДРЕС</div>
        г. Санкт-Петербург, ул. Заозерная <br /> д 3/11
      </li>
      <li>
        <div class="text-gray">ТЕЛЕФОН</div>
        <a href="tel:+79777777777">+7 977 777-77-77</a>
      </li>
    </ul>
    <div class="footer__logo">
      <a href="/">
        <Img src="logo-white.svg" only />
      </a>
      <P>2024. Доверие</P>
    </div>
    <Img class="footer__img" src="footer-clock.png" />
  </div>
</footer>
