---

---

<div class="popup popup--form">
  <div class="popup__bg" onclick="closePopup('form')"></div>
  <div class="popup__content">
    <div class="popup__close" onclick="closePopup('form')">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L23.5 23.5" stroke="currentColor" stroke-width="2"></path>
        <path d="M23.5 1L1 23.5" stroke="currentColor" stroke-width="2"></path>
      </svg>
    </div>
    <TheForm id="form-content" />
    <div class="form form-success" id="form-success">
      <div class="text-h2">Спасибо</div>
      <div class="sm:text-xl">
        за заявку. Наши менеджеры скоро свяжуться с Вами!
      </div>
      <Button label="ЗАКРЫТЬ" action="closePopup('form')" />
    </div>
  </div>
</div>
