<App title="Контакты">
  <!-- Page Header -->
  <ThePageHeader />
  <!-- Contacts -->
  <TheSection name="contacts">
    <H1>Контакты</H1>
    <ul class="sm:text-xl">
      <li>
        <div class="text-gray">ГРАФИК</div>
        Пн-Пт с 11:00 до 20:00 <br /> Сб c 12:00 до 17:00
      </li>
      <li>
        <div class="text-gray">АДРЕС</div>
        г. Санкт-Петербург, ул. Заозерная <br />
        д 3/11
      </li>
      <li>
        <div class="text-gray">ТЕЛЕФОН</div>
        <a href="tel:+79777777777">+7 977 777-77-77</a>
      </li>
    </ul>
    <Img class="contacts__img" src="contacts.png">
      <H1>ДОВЕРИЕ</H1>
    </Img>
  </TheSection>
  <!-- Map -->
  <TheMap />
  <!-- Bg -->
  <TheSection name="bg " only>
    <Img src="bg.png" only />
  </TheSection>
</App>
