<App title="Главная">
  <!-- Page Header -->
  <ThePageHeader main />
  <!-- Intro -->
  <TheSection name="intro">
    <div class="intro__text">
      <div class="text-hero">ВЫКУП</div>
      <H2>ЭЛИТНЫХ УКРАШЕНИЙ</H2>
      <ul class="text-xl xl:text-2xl">
        <li>САМАЯ ЛУЧШАЯ ЦЕНА</li>
        <li>ВЫПЛАТА НАЛИЧНЫМИ</li>
        <li>ГАРАНТИЯ АНОНИМНОСТИ</li>
      </ul>
      <Row>
        <Button
          label="ПРОДАТЬ УКРАШЕНИЯ"
          action="openPopup('form', 'ПРОДАТЬ УКРАШЕНИЯ')"
        />
        <Button
          label="КУПИТЬ УКРАШЕНИЯ"
          variant="black"
          action="openPopup('form', 'КУПИТЬ УКРАШЕНИЯ')"
        />
      </Row>
    </div>
    <div class="intro__product">
      <Img class="intro__product-bg" src="hero/bg.png" />
      <div class="intro__product-price">
        <div class="text-base">До 1 000 000 $ <br /> в день обращения</div>
        <svg
          width="236"
          height="92"
          viewBox="0 0 236 92"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M235.5 91L167 22.5H42"
            stroke="#595959"
            stroke-dasharray="5 5"></path>
          <circle
            cx="21.9928"
            cy="21.993"
            r="20.5"
            transform="rotate(2.7777 21.9928 21.993)"
            stroke="#595959"
            stroke-dasharray="5 5"></circle>
          <path
            d="M15.8086 27.9141L16.7109 26.5547C16.7891 26.4375 16.8945 26.3398 17.0273 26.2617C17.1602 26.1836 17.3047 26.1445 17.4609 26.1445C17.6406 26.1445 17.8281 26.207 18.0234 26.332C18.2266 26.457 18.4531 26.6055 18.7031 26.7773C18.9609 26.9414 19.2539 27.1094 19.582 27.2812C19.9102 27.4453 20.2969 27.5664 20.7422 27.6445L21.1875 22.2891C20.6172 22.1172 20.0547 21.9258 19.5 21.7148C18.9453 21.5039 18.4453 21.2227 18 20.8711C17.5625 20.5117 17.207 20.0586 16.9336 19.5117C16.6602 18.9648 16.5234 18.2812 16.5234 17.4609C16.5234 16.8516 16.6406 16.2578 16.875 15.6797C17.1172 15.1016 17.4727 14.5859 17.9414 14.1328C18.4102 13.6719 18.9844 13.293 19.6641 12.9961C20.3438 12.6992 21.125 12.5312 22.0078 12.4922L22.1367 10.9805C22.1523 10.7852 22.2305 10.6133 22.3711 10.4648C22.5195 10.3086 22.7109 10.2305 22.9453 10.2305H24.0352L23.8359 12.5859C24.6953 12.7188 25.4297 12.9609 26.0391 13.3125C26.6562 13.6641 27.1875 14.0547 27.6328 14.4844L26.918 15.5742C26.8164 15.7305 26.707 15.8516 26.5898 15.9375C26.4805 16.0156 26.3438 16.0547 26.1797 16.0547C26.0625 16.0547 25.918 16.0195 25.7461 15.9492C25.582 15.8711 25.3945 15.7773 25.1836 15.668C24.9805 15.5586 24.7461 15.4492 24.4805 15.3398C24.2227 15.2227 23.9375 15.1289 23.625 15.0586L23.2031 20.0273C23.7812 20.207 24.3555 20.4023 24.9258 20.6133C25.4961 20.8242 26.0039 21.0977 26.4492 21.4336C26.9023 21.7695 27.2695 22.1875 27.5508 22.6875C27.832 23.1875 27.9727 23.8125 27.9727 24.5625C27.9727 25.3047 27.8477 26.0039 27.5977 26.6602C27.3477 27.3086 26.9844 27.8828 26.5078 28.3828C26.0312 28.8828 25.4414 29.293 24.7383 29.6133C24.043 29.9258 23.25 30.1094 22.3594 30.1641L22.207 31.9336C22.1992 32.1211 22.1211 32.2891 21.9727 32.4375C21.832 32.5938 21.6484 32.6719 21.4219 32.6719H20.332L20.543 30.1055C19.6055 29.9805 18.7227 29.7266 17.8945 29.3438C17.0742 28.9609 16.3789 28.4844 15.8086 27.9141ZM19.3242 17.168C19.3242 17.4727 19.375 17.7422 19.4766 17.9766C19.5781 18.2109 19.7227 18.418 19.9102 18.5977C20.0977 18.7773 20.3203 18.9375 20.5781 19.0781C20.8438 19.2188 21.1289 19.3438 21.4336 19.4531L21.8086 15.0117C21.3633 15.0664 20.9805 15.1602 20.6602 15.293C20.3477 15.4258 20.0898 15.5898 19.8867 15.7852C19.6914 15.9727 19.5469 16.1836 19.4531 16.418C19.3672 16.6523 19.3242 16.9023 19.3242 17.168ZM22.5703 27.6797C23.4219 27.5703 24.0625 27.2852 24.4922 26.8242C24.9297 26.3633 25.1484 25.7617 25.1484 25.0195C25.1484 24.7148 25.0938 24.4492 24.9844 24.2227C24.8828 23.9961 24.7305 23.7969 24.5273 23.625C24.332 23.4453 24.1016 23.293 23.8359 23.168C23.5781 23.0352 23.293 22.918 22.9805 22.8164L22.5703 27.6797Z"
            fill="#4F4F4F"></path>
        </svg>
      </div>
      <Img class="intro__product-img" src="hero/1.png" />
    </div>
  </TheSection>
  <!-- About -->
  <TheAbout title />
  <!-- Application -->
  <TheApplication title="Выкупаем">
    <P>
      Мы выкупаем только элитные бренды часов<br /> У нас Вы можете заложить свои
      фирменные часы<br /> по выгодной цене, предварительно узнав их стоимость<br
      /> посредством нашей экспертной оценки, либо<br /> продать их дорого, получив
      выплату наличными <br /><br /> Нас интересуют следующие бренды:
      <br /><br />
      ROLEX, ULYSSE NARDIN, PATEK PHILIPPE, PIAGET<br /> BREGUET, FRANCK MULLER,
      FRANC VILA, OMEGA<br /> A.LANGE & SOHNE, AUDEMARS PIGUET, ZENITH
    </P>
    <Button type="link" to="/" variant="black">СПИСОК БРЕНДОВ</Button>
  </TheApplication>
  <!-- Process -->
  <TheProcess main />
  <!-- Reviews -->
  <TheReviews />
  <!-- Map -->
  <TheMap />
  <!-- Bg -->
  <TheSection name="bg --main" only>
    <Img src="bg.png" only />
    <Img src="bg.png" only />
  </TheSection>
</App>
