<App title="Продать часы">
  <!-- Page Header -->
  <ThePageHeader />
  <!-- Service -->
  <TheSection name="service">
    <H1>ПРОДАТЬ</H1>
    <H2>Ювелирные изделия</H2>
    <P>
      Также как внедрение современных методик требует анализа прогресса
      профессионального сообщества. Являясь всего лишь частью общей картины,
      представители современных социальных резервов объективно рассмотрены
      соответствующими инстанциями.
      <br /><br />
      И нет сомнений, что интерактивные прототипы и по сей день остаются уделом либералов,
      которые жаждут быть ассоциативно распределены по отраслям. Каждый из нас понимает
      очевидную вещь: социально-экономическое развитие, в своём классическом представлении,
      допускает внедрение переосмысления внешнеэкономических политик! Как принято
      считать, элементы политического процесса указаны как претенденты на роль ключевых
      факторов.
    </P>
  </TheSection>
  <!-- About -->
  <TheAbout />
  <!-- Process -->
  <TheProcess />
  <!-- Application -->
  <TheApplication title="Выкупаем">
    <P>
      Мы выкупаем только элитные бренды часов<br /> У нас Вы можете заложить свои
      фирменные часы<br /> по выгодной цене, предварительно узнав их стоимость<br
      /> посредством нашей экспертной оценки, либо<br /> продать их дорого, получив
      выплату наличными <br /><br /> Нас интересуют следующие бренды:
      <br /><br />
      ROLEX, ULYSSE NARDIN, PATEK PHILIPPE, PIAGET<br /> BREGUET, FRANCK MULLER,
      FRANC VILA, OMEGA<br /> A.LANGE & SOHNE, AUDEMARS PIGUET, ZENITH
    </P>
    <Button type="link" to="#" variant="black">СПИСОК БРЕНДОВ</Button>
  </TheApplication>
  <!-- Reviews -->
  <TheReviews />
  <!-- Map -->
  <TheMap />
  <!-- Bg -->
  <TheSection name="bg " only>
    <Img src="bg.png" only />
  </TheSection>
</App>
